.signup-container{
	display: flex;
	height: 85vh;
	padding-left: 80px;
	position: relative;
	justify-content: space-around;
	
	
}

.shoes-image{
	height: 500px;
	width: 700px;
}


.signup-image{
	
	position: relative;

}


.sign-form{

	height: 77.5vh;
	width: 420px;
	padding: 25px;
	border: 2px solid black;
	border-radius: 30px;
	position: relative;
	margin-top: 5px;
	
}


.sign-form .title{
	font-size: 30px;
	font-weight: 500;
	font-family: Staatliches;
	letter-spacing: 2px;
	position: relative;



}

.sign-form .title::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 50px;

}

.user-details{
	position: absolute;
	display: inline-block;
	height: 67vh;
}


.user-details .firstName{
	font-size: 17px;
	padding: 2px;
	font-family: Kanit;
}
.user-details .lastName{
	font-size: 17px;
	padding: 2px;
	font-family: Kanit;
}
.user-details .mobileNo{
	font-size: 17px;
	padding: 2px;
	font-family: Kanit;
}

.user-details .password1{
	font-size: 17px;
	padding: 2px;

	font-family: Kanit;
}

.user-details .password2{
	font-size: 17px;
	padding: 2px;
	font-family: Kanit;

}


.user-details .email-form{
	font-size: 17px;
	padding: 2px;
	font-family: Kanit;
	
}

.user-details .firstName input{
	width: calc(100%/ 2 -  20px);
	height: 35px;
	width: 110%;
	border: 2px solid black;
	
}
.user-details .lastName input{
	width: calc(100%/ 2 -  20px);
	height: 35px;
	width: 100%;
	border: 2px solid black;
	

}

.user-details .email-form input{
	width: calc(100%/ 2 -  40px);
	height: 35px;
	width: 100%;
	border: 2px solid black;

	
}
.user-details .mobileNo input{
	width: calc(100%/ 2 -  40px);
	height: 35px;
	border: 2px solid black;
	width: 100%;
	
	
}

.user-details .password1 input{
	width: calc(100%/ 2 -  40px);
	height: 35px;
	width: 100%;
	border: 2px solid black;
	

	
}
.user-details .password2 input{
	width: calc(100%/ 2 -  40px);
	height: 35px;
	width: 100%;
	border: 2px solid black;

	
}

.sign-btn{
	padding: 10px;
	border-radius: 15px;
	width: 40%;
	margin-left: 90px;
	margin-top: 10px;
	position: relative;
	background-color: black;
	color: whitesmoke;
	font-size: 17px;
}

button.sign-btn:hover{
	color: black;
	background-color: white;
	border: 2px solid black;

}


